
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Day la trang chu</h2>
@foreach (var SanPham in Model )
{
    <li>
        <a href="@Url.Action("Details","GGMobile", new { id = SanPham.MaSP})">
            <img alt="@SanPham.TenSP" src="~/Hinhsanpham/@SanPham.Anhbia" />
            <span>@SanPham.TenSP</span>
        </a>
    </li>

}

